<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7161c7">  <td>18/10/27 19:31:50</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.afterClass()[pri:0, instance:testCases.TC002_CreateLead@1e3c938]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@12322214</td>   <td></td> </tr>
<tr bgcolor="7161c7">  <td>18/10/27 19:31:50</td>   <td>52</td> <td title="&lt;&lt;ProjectMethods.afterSuite()[pri:0, instance:testCases.TC002_CreateLead@1e3c938]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@12322214</td>   <td></td> </tr>
<tr bgcolor="7161c7">  <td>18/10/27 19:31:50</td>   <td>5</td> <td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.afterTest()[pri:0, instance:testCases.TC002_CreateLead@1e3c938]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@12322214</td>   <td></td> </tr>
<tr bgcolor="7161c7">  <td>18/10/27 19:30:56</td>   <td>-53561</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeClass()[pri:0, instance:testCases.TC002_CreateLead@1e3c938]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@12322214</td>   <td></td> </tr>
<tr bgcolor="7161c7">  <td>18/10/27 19:30:56</td>   <td>-53943</td> <td title="&gt;&gt;ProjectMethods.beforeSuite()[pri:0, instance:testCases.TC002_CreateLead@1e3c938]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@12322214</td>   <td></td> </tr>
<tr bgcolor="7161c7">  <td>18/10/27 19:30:56</td>   <td>-53568</td> <td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeTest()[pri:0, instance:testCases.TC002_CreateLead@1e3c938]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@12322214</td>   <td></td> </tr>
<tr bgcolor="7161c7">  <td>18/10/27 19:31:48</td>   <td>-2094</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.closeApp()[pri:0, instance:testCases.TC002_CreateLead@1e3c938]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@12322214</td>   <td></td> </tr>
<tr bgcolor="7161c7">  <td>18/10/27 19:30:58</td>   <td>-52085</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login()[pri:0, instance:testCases.TC002_CreateLead@1e3c938]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@12322214</td>   <td></td> </tr>
<tr bgcolor="f5e5e3">  <td>18/10/27 19:31:05</td>   <td>-44939</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC002_CreateLead.loginLogout(java.lang.String, java.lang.String)[pri:0, instance:testCases.TC002_CreateLead@1e3c938]">loginLogout</td> 
  <td>main@12322214</td>   <td></td> </tr>
<tr bgcolor="f5e5e3">  <td>18/10/27 19:30:56</td>   <td>-53562</td> <td>&nbsp;</td><td title="&gt;&gt;TC002_CreateLead.setData()[pri:0, instance:testCases.TC002_CreateLead@1e3c938]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@12322214</td>   <td></td> </tr>
</table>
