<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7161c7">  <td>18/10/28 16:16:28</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.afterClass()[pri:0, instance:testCases.TC002_CreateLead@1e3c938]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@12322214</td>   <td></td> </tr>
<tr bgcolor="7161c7">  <td>18/10/28 16:16:28</td>   <td>36</td> <td title="&lt;&lt;ProjectMethods.afterSuite()[pri:0, instance:testCases.TC002_CreateLead@1e3c938]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@12322214</td>   <td></td> </tr>
<tr bgcolor="7161c7">  <td>18/10/28 16:16:28</td>   <td>5</td> <td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.afterTest()[pri:0, instance:testCases.TC002_CreateLead@1e3c938]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@12322214</td>   <td></td> </tr>
<tr bgcolor="7161c7">  <td>18/10/28 16:13:26</td>   <td>-181595</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeClass()[pri:0, instance:testCases.TC002_CreateLead@1e3c938]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@12322214</td>   <td></td> </tr>
<tr bgcolor="7161c7">  <td>18/10/28 16:13:26</td>   <td>-181970</td> <td title="&gt;&gt;ProjectMethods.beforeSuite()[pri:0, instance:testCases.TC002_CreateLead@1e3c938]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@12322214</td>   <td></td> </tr>
<tr bgcolor="7161c7">  <td>18/10/28 16:13:26</td>   <td>-181610</td> <td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeTest()[pri:0, instance:testCases.TC002_CreateLead@1e3c938]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@12322214</td>   <td></td> </tr>
<tr bgcolor="7161c7">  <td>18/10/28 16:14:28</td>   <td>-119727</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.closeApp()[pri:0, instance:testCases.TC002_CreateLead@1e3c938]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@12322214</td>   <td></td> </tr>
<tr bgcolor="7161c7">  <td>18/10/28 16:15:28</td>   <td>-60132</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.closeApp()[pri:0, instance:testCases.TC002_CreateLead@1e3c938]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@12322214</td>   <td></td> </tr>
<tr bgcolor="7161c7">  <td>18/10/28 16:16:26</td>   <td>-2131</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.closeApp()[pri:0, instance:testCases.TC002_CreateLead@1e3c938]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@12322214</td>   <td></td> </tr>
<tr bgcolor="7161c7">  <td>18/10/28 16:13:28</td>   <td>-180062</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login()[pri:0, instance:testCases.TC002_CreateLead@1e3c938]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@12322214</td>   <td></td> </tr>
<tr bgcolor="7161c7">  <td>18/10/28 16:14:30</td>   <td>-117610</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login()[pri:0, instance:testCases.TC002_CreateLead@1e3c938]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@12322214</td>   <td></td> </tr>
<tr bgcolor="7161c7">  <td>18/10/28 16:15:30</td>   <td>-58001</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login()[pri:0, instance:testCases.TC002_CreateLead@1e3c938]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@12322214</td>   <td></td> </tr>
<tr bgcolor="f5e5e3">  <td>18/10/28 16:13:36</td>   <td>-172162</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC002_CreateLead.loginLogout(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testCases.TC002_CreateLead@1e3c938]">loginLogout</td> 
  <td>main@12322214</td>   <td></td> </tr>
<tr bgcolor="f5e5e3">  <td>18/10/28 16:14:36</td>   <td>-111329</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC002_CreateLead.loginLogout(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testCases.TC002_CreateLead@1e3c938]">loginLogout</td> 
  <td>main@12322214</td>   <td></td> </tr>
<tr bgcolor="f5e5e3">  <td>18/10/28 16:15:36</td>   <td>-51499</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC002_CreateLead.loginLogout(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testCases.TC002_CreateLead@1e3c938]">loginLogout</td> 
  <td>main@12322214</td>   <td></td> </tr>
<tr bgcolor="f5e5e3">  <td>18/10/28 16:13:26</td>   <td>-181610</td> <td>&nbsp;</td><td title="&gt;&gt;TC002_CreateLead.setData()[pri:0, instance:testCases.TC002_CreateLead@1e3c938]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@12322214</td>   <td></td> </tr>
</table>
